body {
    color: hsl(0, 0%, 98%); 
    font-family: 'Poppins', sans-serif;
}

.posicao {
    margin: 0 auto;
    text-align: center;
    line-height: 200%;
}

.titulo1 {
    color: black;
}

.titulo2 {
    font-weight: bold;
    color: black;
}

.texto {
    color: black;
    margin-left: 
}

.cartoes {
    display: flex;
     align-content: center;  
}

.cartao {
    width: 300px;
    border-top-width: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 5px;
    height: 200px;
    margin: auto;
    border-style:solid;
    background-color: white;
}

.cartao > h1 {
    font-size: 1.1rem;
}

.cartao > p {
    color: grey;
}

.cartao1 {
    border-top-color: hsl(0, 78%, 62%);
    order: 1;
}

.imagem1Casa {
    display: flex;
    justify-content: flex-end;
}


/* Cartão 2: karma */
.cartao2 {
    margin-top: 2.5rem;
    border-top-color: hsl(34, 97%, 64%);
}


.imagem2Lampada {
    display: flex;
    justify-content: flex-end;
}

/* Cartão 3 */
.cartao3 {
    border-top-color: hsl(180, 62%, 55%);
}


.imagens {
    position: relative;
    bottom: 0;
    right: 10px;
}

.imagem3Lupa {
    display: flex;
    justify-content: flex-end;
}

/* Cartão 4 */
.cartao4 {
    border-top-color: hsl(212, 86%, 64%);
}

.imagem3Calculadora {
    display: flex;
    justify-content: flex-end;
}


@media only screen and (max-width: 1024px) {
    .cartoes {
        display: block;
        }

    .cartao3, 
    .cartao4 {
        margin-top: 2.5rem;
    }
}
